<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center text-black">
    <h1>Lists</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

  <% @lists.each do |list| %>

<div>

  <%= cl_image_tag(list.photo.key, style: "width: 100px") %>
    <h3><%= list.name %></h3>

    <%= link_to 'Show', list_path(list), class: "btn btn-gradient" %>
  <% end %>
</div>

<p><%=link_to 'New list', new_list_path, class: "btn btn-gradient"%></p>
